*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 23, 46);
}

.nav_bar{
    background-color: rgb(70, 19, 70);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    text-align: center;
}
.nav_bar a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
}
.nav_bar .rams{
    text-align: center;
    margin: auto 5px;
}
.nav_bar .menu{
    text-align: center;
    margin: auto 5px;
}

.nav_bar button{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.hero_section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 150px;
}

.content{
    text-align: center;
    margin: auto 90px;
    color: white;
}
h1{
    font-size: 70px;
    color: orangered;
}
h1,h3,p{
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    border: none;
    border-radius: 5px;
    margin-right: 8px;
    padding: 15px 20px;
    background-color: orangered;
    font-size: 15px;
    color: white;
}
.btn_contact{
    background-color: rgb(70, 19, 70);
}
footer{
    color: grey;
    text-align: center;
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 0;
}